.syncGoogle_button {
    padding: 1rem 3rem;
    gap: 10px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;

    height: 30px;
    border: none;

    background: #DBDBDB;
    border-radius: 6px;
}

.google_image {
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
}

.syncGoogle_button:hover {
    background: #EBEBEB;

    box-shadow: 0px 163.333px 130.667px rgba(0, 0, 0, 0.07), 0px 68.2368px 54.5894px rgba(0, 0, 0, 0.0503198), 0px 36.4826px 29.1861px rgba(0, 0, 0, 0.0417275), 0px 20.4519px 16.3615px rgba(0, 0, 0, 0.035), 0px 10.8618px 8.68947px rgba(0, 0, 0, 0.0282725), 0px 4.51985px 3.61588px rgba(0, 0, 0, 0.0196802);

    transform: scale(1.05);

    cursor: pointer;
} 